<%= form_for [:my, @project] do |f| %>

	<%= f.label "Title"%> 
	<%= f.text_field :title, {placeholder: 'Title'} %>

	<%= f.label "Teaser"%> 
	<%= f.text_field :teaser, {placeholder: 'teaser'} %>

	<%= f.label "Description"%> 
	<%= f.text_field :description, {placeholder: 'description'} %>

	<%= f.label "Goal"%> 
	<%= f.text_field :goal, {placeholder: 'goal'} %>

	<div class="actions"><%=submit_tag 'Update Project' %></div>
	

<% end %>

	<%= link_to 'Manage Images', my_project_images_path(@project) %>